/* Agrega estos estilos en tu archivo home.css */

.restricted-users-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.restricted-users-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.restricted-users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.restricted-user-item {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.restricted-user-item:hover {
  transform: translateY(-5px);
}

.restricted-user-item img {
  width: 100%;
  max-width: 150px; /* Ajusta el tamaño máximo de la imagen */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.restricted-user-item strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.restricted-user-item button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restricted-user-item button:hover {
  background-color: #0056b3;
}
